$primary-font: 'Open Sans', sans-serif;  
$secondary-font: 'Dosis', sans-serif; 



.hemanta{font-size:59px;
    text-align:center;
    padding:right;
    margin-right:50%;
}
.navbar-header{
    font-family: $secondary-font;
}


html, body {
  font-family: $primary-font;

    background-color:white;
}

.navbar-default .navbar-brand {
  font-weight: 100; 
  font-size: 30px;
  letter-spacing: 2px;
  color: #337ab7;
}
   
      
